.navbar {
    border-radius: 0;
    min-height: 50px;
}

.bg{
    background-color: #e1e1ce;
    COLOR: #44494f;
    border-radius: 5px;
}

body {
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    margin-top: 8px;
}

.navbar-nav>li>a {
    font-size: 18px;
}

.navbar-brand {
    font-size: 22px;
    font-family: inherit;
    font-style: italic;
    font-weight: 700;
}

.navbar-inverse .navbar-brand {
    color: #00bcd4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #00bcd4;
}

h2 {
    margin-left: 20px;
}

#social-fb:hover {
    color: black;
}

#social-tw:hover {
    color: black;
}

#social-em:hover {
    color: black;
}

#social-git:hover {
    color: black;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -155px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer,
.push {
    height: 155px;
    /* .push must be the same height as .footer */
}

/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}*/
.thumbnail {
    background: #C6FFDD;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    transition: all .2s ease-in-out;
    text-align: center;
}

.thumbnail:hover
{
    position: relative;
    z-index: 10;
    transform: scale(1.2) !important;
}
